.header-container{
display: flex;
padding: 0.5rem;
background-color: #CF682F;
width: 100%;
.header-logo{
    width: 50px;
    color: #fff !important;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 0.8rem;
    margin-bottom: 0.8rem;
}
  .step-container{
    display: flex;
    justify-content: space-between;
    width: 77%;
    margin-top: 0.5rem;
    margin-left: 4rem;
    .ant-steps {
        & .ant-steps-item-finish {
          & > .ant-steps-item-container {
            & > .ant-steps-item-tail {
              &::after {
          background-color: rgba(58, 197, 27, 1);
              }
            }
          }
        }
      }
      

  }
  .step{
    margin-left: 1rem;
    margin-right: 1rem;

  }
  .step-circle {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #CF682F;
    border: 1px solid #fff;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    font-size: 1.2rem;
    font-weight: 500;
    z-index: 1;
    font-size: 16px;
    margin-bottom: 0.5rem;
  }
  .ant-steps-item-tail{
    background-color: #fff;
    top: 10.5px !important;
  }
  .ant-steps-item-content{
    width: 160px !important;
  }
  .ant-steps-item-title{
    margin-top: 0.5rem;
    color: #fff !important;
    font-weight: 300;
    // margin-left: 0.3rem;
  }
  .step-circle.incomplete {
    background-color: #fff; /* green color */
    color: #CF682F;
    font-size: 16px;
  }
  .right-header{
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
    .top{
        display: flex;
        justify-content: space-between;
        .left{
            display: flex;
            flex-direction: column;
        }
        .name{
            font-size: 16px;
            color: #fff;
            font-weight: 400;
        }
        .desig{
            font-size: 14px;
            font-weight: 400;
            color: #fff;
        }
        .right{
            margin-left: 2rem;
            color: #fff;
            font-size: 24px;
        }
    }
    .bottom{
        display: flex;
        span{
            font-size: 12px;
            font-weight: 400;
            color: #fff;
        }
    }
  }
}